hr{
    color: white;
}
body{
    background:black ;
    color: white;
}

.banner{
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
}
.perfil img{
    margin-left: 40%;
}
.acerca{
    width: 80%;
    margin-left: 10%;
   color: red;
}

.exp h2{
    padding: 30px 0 50px;
}
.logo-exp{
    width: 20%;
    color: white;
   
}
.tareas{
    width: 70%;
    color: white;
}
.editar{
    width: 10%;
    color: white;
}
.logo-scool{
    color: white;
}
.titulo{
    color: white;
}
.edu h2{
    padding: 30px 0 ;